body {
    color: white;
    background-color: #161617;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: block; 
    position: relative;

}



.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 60px; 
    box-sizing: border-box;
}

a.Post {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.site-title {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
   margin: 15px;
}

.site-title a {
    color: inherit; /* Ensures the color is inherited and not blue */
    text-decoration: none; /* Removes the underline */
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-button, .auth-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.aside-button {
    display: block;
    width: 100%;
    text-align: left;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.aside-button:hover {
    background-color: #3c3c3c;
}

.auth-button {
    background-color: #005bfa;
}

.welcome-info {
    background-color: #2c2c2c;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    margin: 4px 10px;
    border-radius: 5px;
}

.nav-button:hover, .auth-button:hover, .aside-button:hover, .like-button:hover, .dislike-button:hover {
    background-color: #3d3d3d;
}

a:hover {
    color: white;
}

.post {
    background-color: #232324;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.aside {
    width: 20%;
    float: left;
}

.main {
    width: 75%;
    float: right;
}

.PostLikeForm {
    display: flex;
    justify-content: start;
    gap: 10px;
}

/* .like-dislike-button form {
    display: inline-block;
    margin: 0;
} */

.like-button, .dislike-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.comment_card{
    background-color: #232324;
    border-radius: 15px;
    margin: 30px 30px 30px 0;
    padding: 20px;
    width: 60%;
    box-sizing: border-box;
}

.com-but{
    border: none;
    background-color: #3c3c3c;
    color: white;
    border-radius: 5px;
    margin: 20px 20px 0 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 30px;
    background-color: #1c1c1c;
    width: 100%;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1c1c1c;
    clear: both;
    /* box-sizing: border-box; */
    position: absolute; 
    bottom: 0;
    left: 0;

}
