body{
    color: white;
    background-image: linear-gradient(to right top, #e6e0e2, #e3d1dc, #dbc4db, #ccb9de, #b5b0e2, #aab2e5, #9eb4e8, #91b6e9, #9cc0e9, #aacaea, #b9d4ea, #caddea);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrapper{
    margin-right: 30%;
    margin-left: 30%;
}
a.Post{
    text-decoration: none;
    color: inherit;
}

<<<<<<< HEAD
header{
    padding: 10px;
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

nav{
    float: left;
}

main {
    display: flex;
    flex: 1;

}

.post{
    background-color: rgba(0, 0, 0, 0.40);
    border: solid 1px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    /* max-width: 1000px; */
    box-sizing: border-box;
}

.minimalistic-form{
    background-color: rgba(0, 0, 0, 0.40);
    border: solid 1px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.create-post-form {
    background-color: rgba(0, 0, 0, 0.40);
    border: solid 1px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.posts {
    /* float: right;
    padding-right: 510px; */
}

.hidden {
    display: none;
}

footer{ 

    text-align: center;
    padding: 10px 0;
}
=======
>>>>>>> origin/anelkhan
