<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            {{ if .UserInfo.Username }}
            <span>Welcome, {{ .UserInfo.Username }} (Role: {{ .UserInfo.Role }})</span>
            <a href="/logout" class="href"><button class="button">Log Out</button></a>
            {{ else }}
            <a href="/login" class="href"><button class="button">Log In</button></a>
            <a href="/register" class="href"><button class="button">Sign Up</button></a>
            {{ end }}

            <a href="/post/create" class="href"><button class="nav-button">Create Post</button></a>
            <a href="/likedposts" class="href"><button class="nav-button">My Liked Posts</button></a>
            <a href="/createdposts" class="href"><button class="nav-button">My Created Posts</button></a>
        </nav>
    </header>
    <aside>
        <div class="categories">
            <h3>Categories</h3>
            <ul>
                {{ range .Categories }}
                <li><a href="/category/{{ .ID }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </aside>
    <main>
        <div class="posts">
            {{ range .Posts }}
            <a href="/post/{{ .Post.ID }}" class="Post">
                <div class="post">
                    <h4 class="author">Author: {{ .User.Username }}</h4>
                    <h2>{{ .Post.Title }}</h2>
                    <p class="date">Creation Date: {{ .Post.CreationDate.Format "Jan 2, 2006" }}</p>
                    <p>{{ .Post.Content }}</p>

                    <div class="PostLikeForm">
                            <span>
                                <form method="POST" action="/post/like">
                                    <input type="hidden" name="post_id" value="{{.Post.ID}}">
                                    <button type="submit">❤️ {{.Post.Likes}}</button>
                                </form>
                            </span>
                        <span>
                                <form method="POST" action="/post/dislike">
                                    <input type="hidden" name="post_id" value="{{.Post.ID}}">
                                    <button type="submit">💔 {{.Post.Dislikes}}</button>
                                </form>
                            </span>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Forum</p>
    </footer>
</div>

</body>
</html>
